<div mat-dialog-title>
  <h1>Employee Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()" >
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matInput formControlName="id">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <input matInput formControlName="avatar">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button type="button" [mat-dialog-close]="false"> Cancel</button>
  <button mat-raised-button type="submit"> {{data?'update':'save'}}</button>
</div>
</form>
